@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }

    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }

    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }

    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: 1px solid $orange;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }

    &__counter {
        font-size: 0.8rem;
        color: $white;
        position: absolute;
        right: 0.6rem;
        top: 0.6rem;
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;

    &__item {
        margin-left: 12.2rem;
        max-width: 378px;
        margin-top: 6.1rem;
    }

    &__link {
        margin-top: 5.5rem;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image{
        width: 92%;
        box-shadow: 2rem 4rem 2.1rem -0.8rem rgb(141 153 136 / 43%);
        border-radius: 42rem;
    }

    &__text {
        padding-top: 3rem;
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;

        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
            
        }

        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }

        &_1 {
            top: 41px;
            left: 67px;
            line-height: 150%;
            &::before {
                bottom: 12px;
                right: -35px;
            }
        }

        &_2 {
            top: 188px;
            right: 2px;
            line-height: 150%;
            &::before {
                bottom: 17px;
                left: -25px;
            }
        }

        &_3 {
            bottom: -46px;
            right: 244px;
            line-height: 150%;
            &::before {
                top: -15px;
                left: 13px;
            }
        }
    }

    &__food {
        display: block;
        color: rgba($green, 0.8);
    }

    &__tomato {
        position: absolute;
        bottom: 122px;
        right: 151px;
        width: 11rem;
        z-index: -1;
    }

    &__avocado {
        position: absolute;
        top: 45px;
        right: 30px;
        width: 18rem;
        z-index: -1;
    }

    &__cucumber {
        position: absolute;
        top: -2px;
        left: 741px;
        width: 8.5rem;
        z-index: -1;
    }

    &__pepper {
        position: absolute;
        top: 396px;
        left: 69px;
        width: 8.6rem;
        z-index: -1;
    }

    &__olives {
        position: absolute;
        top: 796px;
        left: 0px;
        width: 10.5rem;
        z-index: -1;
    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 100%;

    &__span {
        font-style: italic;
    }

    &_block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    line-height: 145%;

    &_size-s {
        font-size: 1.8rem;
    }

    &_size-m {
        font-size: 2.4rem;
    }
}

.link {
    color: $white;
    text-transform: uppercase;
    padding: 2.3rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    letter-spacing: 0.13rem;
}

.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 200px;

    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }

    &__slider {
        overflow: hidden;
        padding-top: 100px;
    }
}

.swiper {
    overflow: initial;

    &-slide {
        border: 1px solid $green;
    }

    &-pagination {
        display: none;
    }

    &-button-next, &-button-prev {
        top: -60px;

        &::after {
            color: $green;
        }
    }

    &-button-prev {
        left: initial;
        right: 100px;
    }
}