@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_mimob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_full_1750: 1750px;

html {
    font-size: 10px;
    @media (max-width:$r_mob_500) {
        font-size: 8px;
    }
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    background-image: url(../images/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
   /* overflow: hidden;  Поставим позже чтобы убрать горизонтальный скрол*/
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    @media (max-width: $r_desk_1280) {
        gap: 3%;
    }
    @media (max-width: $r_tab) {
        margin-bottom: 0;
    }

    &__navigation {
        flex-grow: 1;
        margin-left: 4.5rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 0;
        }
        @media (max-width: $r_desk_hd) {
            flex-grow: 0;
        }
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
        @media (max-width: $r_desk_hd) {
            gap: 2.5rem;
        }
    }

    &__link {
        color: $green;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            color: $orange;
            transition: 0.3s;
        }
    }

    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        flex-basis: 200px;
        letter-spacing: 0.13rem;
        text-align: right;
        transition: 0.3s;
        @media (max-width: $r_desk_hd) {
            display: none;
        }

        &:hover {
            color: $orange;
            transition: 0.3s;
        }
        
    }

    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: 1px solid $orange;
        transition: 0.3s;
        cursor: pointer;
        @media (max-width: $r_desk_hd) {
            background-color: $white;
            background-image: url(../images/cart-mobi.svg);
            border: 1px solid $green;
            opacity: 0.8;
        }
        @media (max-width:$r_mob_500) {
            width: 4.5rem;
            height: 4.5rem;
            background-size: 2rem;
        }

        &:hover {
            background-color: $green;
            border: 1px solid $green;
            transition: 0.3s;
            @media (max-width: $r_desk_hd) {
                background-color: $white;
                opacity: 1;
            }
        }

        
    }

    &__counter {
        font-size: 0.8rem;
        color: $white;
        position: absolute;
        right: 0.6rem;
        top: 0.6rem;
        @media (max-width: $r_desk_hd) {
            color: $green;
        }
        @media (max-width:$r_mob_500) {
            font-size: 1rem;
        }
    }

    &__phone, &__menu {
        display: none;
    }

    &__phone {
        @media (max-width: $r_desk_hd) {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color: $white;
            background-image: url(../images/tel.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            position: relative;
            border: 1px solid $green;
            opacity: 0.8;
            transition: 0.3s;
        }
        @media (max-width:$r_mob_500) {
            width: 4.5rem;
            height: 4.5rem;
            background-size: 1.9rem;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__menu {
        @media (max-width: $r_tab_900) {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color: $white;
            background-image: url(../images/menu.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            position: relative;
            border: 1px solid $green;
            opacity: 0.8;
            transition: 0.3s;
        }
        @media (max-width:$r_mob_500) {
            width: 4.5rem;
            height: 4.5rem;
            background-size: 2rem;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__buttons {
        @media (max-width: $r_desk_hd) {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
        @media (max-width:$r_mob_500) {
            gap: 1.4rem;
        }
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 12rem;
    height: 3.2rem;

    &__footer {
        height: 4.8rem;
        margin-top: 7px;
        flex-basis: 18rem;
        @media (max-width: $r_desk) {
            display: none;
        }
        @media (max-width: $r_tab) {
            display: block;
            flex-basis: auto;
            width: 13rem;
            height: 3.8rem;
            margin: 0 auto 3rem;
        }
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_tab) {
        max-width: 600px;
    }
}

.main {
    padding-bottom: 187px;
    z-index: 0;
    @media (max-width: $r_tab) {
        padding-bottom: 1rem;
    }

    &__item {
        margin-left: 12.2rem;
        max-width: 378px;
        margin-top: 6.1rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
    }

    &__link {
        margin-top: 5.5rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
        @media (max-width:$r_mob_500) {
            margin-top: 3.5rem;
        }
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: $r_desk_1120) {
            padding-top: 3rem;
            padding-bottom: 9rem;
        }
    }

    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350) {
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd) {
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120) {
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 395px);
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }

    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_desk_1350) {
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd) {
            border: 1px solid transparent;
            width: auto;
            height: auto;
        }
    }

    &__image{
        width: 92%;
        border-radius: 100%;
        animation: shadow 5s linear infinite;
    }

    &__imagemobi {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 3rem;
            border-radius: 100%;
            animation: shadow 5s linear infinite;
        }
        @media (max-width:$r_mob_500) {
            max-width: 220px;
        }
    }

    &__text {
        padding-top: 3rem;
        @media (max-width: $r_desk_1120) {
            flex-basis: 395px;
        }
        @media (max-width: $r_tab) {
            flex-basis: 100%;
            padding-top: 0;
        }
    }

    &__btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;

        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                transition: 0.3s;
                cursor: pointer;
            }
            
        }

        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }

        &_1 {
            top: 41px;
            left: 67px;
            line-height: 150%;
            transition: 0.3s;
            @media (max-width: $r_desk_1350) {
                top: 17px;
            }
            @media (max-width: $r_desk_hd) {
                top: 35px;
                left: 24px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            
            &::before {
                bottom: 12px;
                right: -35px;
                transition: 0.3s;
            }
        }

        &_2 {
            top: 188px;
            right: 2px;
            line-height: 150%;
            transition: 0.3s;
            @media (max-width: $r_desk_1350) {
                top: 109px;
            }
            @media (max-width: $r_desk_hd) {
                top: 56px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }

            &::before {
                bottom: 17px;
                left: -25px;
                transition: 0.3s;
            }
        }

        &_3 {
            bottom: -46px;
            right: 244px;
            line-height: 150%;
            transition: 0.3s;
            @media (max-width: $r_desk_1350) {
                bottom: -56px;
            }
            @media (max-width: $r_desk_hd) {
                bottom: -58px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }

            &::before {
                top: -15px;
                left: 13px;
                transition: 0.3s;
            }
        }
    }

    &__food {
        display: block;
        color: rgba($green, 0.8);
    }

    &__tomato {
        position: absolute;
        top: 839px;
        right: 151px;
        width: 11rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            width: 9.8rem;
            right: 88px;
        }
        @media (max-width: $r_desk_hd) {
            top: 750px;
        }
        @media (max-width: $r_desk_1120) {
            width: 8rem;
            top: 100px;
            left: -15px;
        }
    }

    &__avocado {
        position: absolute;
        top: 45px;
        right: 30px;
        width: 18rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            width: 9.8rem;
            top: 120px;
            right: -8%;
        }
        @media (max-width: $r_mob_500) {
            top: 88px;
        }
    }

    &__cucumber {
        position: absolute;
        top: 0;
        left: 719px;
        width: 8.5rem;
        z-index: -1;
        @media (max-width: $r_desk_hd) {
            left: 500px;
            width: 7.5rem;
        }
        @media (max-width: $r_desk_1120) {
            top: 700px;
            right: -15px;
            left: inherit;
            transform: rotate(90deg)
        }
        @media (max-width: $r_tab) {
            top: 630px;
        }
        @media (max-width: $r_mob_500) {
            top: 480px;
        }
    }

    &__pepper {
        position: absolute;
        top: 396px;
        left: 69px;
        width: 8.6rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            display: none;
        }
        @media (max-width: $r_tab) {
            display: block;
            width: 5rem;
            top: 350px;
            left: 0;
        }
    }
    

    &__olives {
        position: absolute;
        top: 796px;
        left: 0;
        width: 10.5rem;
        z-index: -1;
        @media (max-width: $r_desk_hd) {
            top: 700px;
            width: 8rem;
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 100%;
    @media (max-width: $r_desk_1280) {
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1120) {
        font-size: 6rem;
    }
    @media (max-width: $r_tab) {
        text-align: center;
    }
    @media (max-width: $r_mob_360) {
        font-size: 3.75rem;
    }

    &__span {
        font-style: italic;
    }

    &_block {
        .title__span {
            display: block;
        }
    }

    &__about {
        letter-spacing: 1px;
    }
}

.description {
    margin: 0;
    line-height: 145%;
    @media (max-width: $r_tab) {
        text-align: center;
    }

    &_size-s {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_mob_500) {
            max-width: 350px;
            margin: 0 auto;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.5rem;
            max-width: 250px;
        }
    }

    &_size-m {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.9rem;
            max-width: 350px;
            margin: 0 auto;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.5rem;
        }
    }
}

.link {
    color: $white;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    letter-spacing: 0.13rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    @media (max-width: $r_desk_1280) {
        font-size: 1.4rem;
    }

    &:hover {
        background-color: $dark-orange;
    }

    &_min {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem 0.17rem rgba(207, 92, 13, 0.15);
        @media (max-width: $r_desk_full_1750) {
            padding: 1.6rem 3.4rem;
        }
        @media (max-width: $r_desk_1350) {
            margin: 0 auto;
        }
        @media (max-width: $r_mob_500) {
            margin: 0 auto;
        }
    }

    &_max {
        padding: 2.3rem 4.8rem;
        @media (max-width: $r_desk_full_1750) {
            padding: 2rem 4rem;
        }
        @media (max-width: $r_desk_1350) {
            margin: 0 auto;
        }
    }
}

.offer {
    padding-top: 1.7rem;
    padding-bottom: 13.1rem;
    @media (max-width: $r_tab) {
        padding-top: 0;
        padding-bottom: 4rem;
    }

    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
}

.slider {
    overflow: hidden;
    padding-top: 9.4rem;
    @media (max-width: $r_tab) {
        max-width: 450px;
        margin: 0 auto;
        padding-top: 5.4rem;
        padding-bottom: 6rem;
    }
    @media (max-width: $r_mob_500) {
        max-width: 210px;
        padding-bottom: 7rem;
    }
}

.swiper {
    overflow: initial;

    &-slide {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        transition: 0.3s;
        @media (max-width: $r_mob_500) {
            text-align: center;
            padding: 3rem 2rem 2.2rem;
        }
        
        &_white {
            height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: contain;
            padding: 4rem 3.7rem;
            @media (max-width: $r_desk_hd) {
                height: 400px;
            }
            @media (max-width: $r_mob_500) {
                height: 240px;
                text-align: center;
                padding: 2.2rem 1.7rem;
            }
            

            &:hover {

                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                    @media (max-width: $r_mob_500) {
                        height: auto;
                    }
                }

                &::after {
                    content: '';
                    background-color:rgba($white, 0.55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    border-radius: 2rem;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    z-index: -1;
                    @media (max-width: $r_mob_500) {
                        display: none;
                    }
                }
            }
        }

        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }

        &_milk {
            background-image: url(../images/milk.png);
            @media (max-width: $r_mob_500) {
                background-image: url(../images/milk-mob.png);
            }
        }

        &_pasta {
            background-image: url(../images/pasta.png);
            @media (max-width: $r_mob_500) {
                background-image: url(../images/pasta-mob.png);
            }
        }
        
        &_steaks {
            background-image: url(../images/steaks.png);
            @media (max-width: $r_mob_500) {
                background-image: url(../images/steaks-mob.png);
                background-position: top;
            }
        }

        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin-bottom: 0;
            @media (max-width: $r_desk_1280) {
                font-size: 2.4rem;
            }
            @media (max-width: $r_desk_1120) {
                font-size: 2.15rem;
                text-align: center;
                margin: 0 auto;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.75rem;
                margin-top: 0;
                margin-bottom: 2rem;
            }
        }
        
        &__description {
            font-size: 1.8rem;
            color: rgba($green, 0.7);
            margin-top: 2rem;
            margin-bottom: 0;
            min-height: 55px;
            max-width: 300px;
            line-height: 150%;
            @media (max-width: $r_desk_1280) {
                font-size: 1.5rem;
            }
            @media (max-width: $r_tab_900) {
                text-align: center;
                margin: 0 auto;
                margin-top: 2rem;
            }
            @media (max-width: $r_mob_500) {
                min-height: 45px;
            }
        }

        &__price {
            font-size: 2.4rem;
            margin-bottom: 3rem;
            @media (max-width: $r_desk_1280) {
                font-size: 2.2rem;
            }
            @media (max-width: $r_tab_900) {
                text-align: center;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.75rem;
                margin-bottom: 2rem;
                margin-top: 10px;
            }
        }

        &__hover {
            height: 0;
            opacity: 0;
            @media (max-width: $r_mob_500) {
                height: auto;
                opacity: 1;
            }
        }

        &__text {
            color: rgba($green, 0.7);
            line-height: 150%;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            max-width: 263px;
            @media (max-width: $r_mob_500) {
                display: none;
            }
        }
    
        &__link {
            text-transform: uppercase;
            font-weight: 500;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            letter-spacing: 0.1rem;
            opacity: 0.8;
            transition: 0.3s;
            @media (max-width: $r_mob_500) {
                font-size: 1.25rem;
                justify-content: center;
                gap: 9px;
            }

            &:hover {
                opacity: 1;
                transition: 0.3s;
            }

            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                @media (max-width: $r_mob_500) {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }

        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;
            @media (max-width: $r_desk_hd) {
                height: 200px;
            }
            @media (max-width: $r_mob_500) {
                height: 110px;
            }
        }

        &__image {
            width: 100%;
            max-width: 351px;
            height: 100%;
            object-fit: contain;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5%;
            /*@media (max-width: $r_desk_1350) {
                flex-wrap: wrap;
                gap: 1rem;
            }
            @media (max-width: $r_desk) {
                flex-wrap: nowrap;
            }*/
        }
    }

    &-pagination {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
        }
    }

    &-button-next, &-button-prev {
        top: -60px;
        @media (max-width: $r_tab) {
            display: none;
        }

        &:hover {

            &::after {
                color: rgba($green, 1);         
            }
        }

        &::after {
            color: rgba($green, 0.4);
            font-size: 20px;
        }
    }

    &-button-next {
        right: -8px;
    }

    &-button-prev {
        left: initial;
        right: 72px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background: $orange;
    border: 1px solid $orange;
}

.swiper-pagination-bullet{
    width: 8px;
    height: 8px;
}

.counter {
    display: flex;
    /*@media (max-width: $r_desk_1350) {
        flex-basis: 100%;
        justify-content: center;
    }*/
    @media (max-width: $r_desk) {
        flex-basis: content;
    }
    @media (max-width: $r_tab_900) {
        display: none;
    }


    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 100%;
        @media (max-width: $r_desk_full_1750) {
            width: 47px;
            height: 47px;
        }
        @media (max-width: $r_tab_900) {
            width: 40px;
            height: 40px;
        }
        
        &_min {
            width: 40px;
            height: 40px;
        }
    }

    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 20px 11px;
        opacity: 0.4;
    }

    &__plus {
        background-image: url(../images/plus-counter.svg);
        background-size: 20px 11px;
    }

    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_tab_900) {
            width: 36px;
        }

        &_min {
            width: 33px;
        }
    }
    & + .link {
        flex-grow: 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}

.about {
    padding-top: 37px;
    padding-bottom: 154px;
    @media (max-width: $r_tab) {
        padding-bottom: 6rem;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7.8rem;
        @media (max-width: $r_desk_1350) {
            gap: 4rem;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
            gap: 4rem;
            margin-top: 4rem;
        }
    }

    &__text {
        margin-left: 11.5rem;
        flex-basis: 615px;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin-left: 0;
            flex-basis: auto;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 9rem;
        font-family: $font-cormorant;
        font-style: italic;
        font-size: 3rem;
        margin: 0;
        padding-left: 0;
        @media (max-width: $r_desk_1350) {
            gap: 5rem;
            font-size: 2.2rem;
        }
        @media (max-width: $r_desk) {
            gap: 3rem;
            font-size: 2rem;
        }
        @media (max-width: $r_tab) {
            gap: 4rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid rgba($green, 0.4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        
        &:nth-child(1) {
            &::before {
                background-image: url(../images/about-icon-1.svg);
                background-size: 44px 41px;
            }
        }

        &:nth-child(2) {
            &::before {
                background-image: url(../images/about-icon-2.svg);
                background-size: 40px 40px;
            }
        }

        &:nth-child(3) {
            &::before {
                background-image: url(../images/about-icon-3.svg);
                background-size: 45px 39px;
            }
        }
    }



}

.trends {
    padding-top: 3rem;
    padding-bottom: 13.5rem;
    @media (max-width: $r_mob_500) {
        padding-bottom: 1rem;
    }

    &__text {
        margin-top: 3.89rem;
        letter-spacing: 1px;
    }
}

.catalog {
    padding-top: 5.9rem;
    padding-bottom: 13.5rem;
    @media (max-width: $r_tab) {
        padding-bottom: 8rem;
    }

    &__list {
        margin-top: 8.5rem;
        margin-bottom: 5rem;
    }

    &__btn {
        cursor: pointer;
        margin: 6rem auto 0;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        color: $green;
        display: flex;
        align-items: center;
        gap: 1.8rem;
        letter-spacing: 1px;
        opacity: 0.8;
        transition: 0.3s;

        &::before {
            content: '';
            display: block;
            background-image: url(../images/refresh.svg);
            width: 25px;
            height: 25px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.category {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    gap: 2rem;
    @media (max-width: $r_desk_1280) {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    @media (max-width: $r_mob_500) {
        display: none;
    }

    &__item {
        flex-basis: 230px;
        text-align: center;
        @media (max-width: $r_desk_1350) {
            flex-basis: 200px;
        }
        @media (max-width: $r_tab) {
            flex-basis: 180px;
        }
    }

    &__link {
        padding: 2.4rem 0;
        border: 1px solid rgba($green, 0.5);
        color: rgba($green, 0.5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        transition: 0.3s;
        @media (max-width: $r_desk_1280) {
            padding: 2rem 0;
            font-size: 1.65rem;
        }
        @media (max-width: $r_tab) {
            padding: 1.4rem 0;
            font-size: 1.5rem;
        }
        
        &:hover {
            border: 1px solid $orange;
            color: $orange;
            transition: 0.3s;
        }
    }
}

.category-swiper {
    display: none;
    @media (max-width: $r_mob_500) {
        display: block;
        text-align: center;
    }

    &__link {
        padding: 2.4rem 0;
        border: 1px solid rgba($green, 0.5);
        color: rgba($green, 0.5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        transition: 0.3s;
        @media (max-width: $r_mob_500) {
            flex-basis: 140px;
            font-size: 1.65rem;
        }
        @media (max-width: $r_mob_360) {
            padding: 1.4rem 0;
            font-size: 1.25rem;
            flex-basis: 110px;
        }

        &:hover {
            border: 1px solid $orange;
            color: $orange;
            box-shadow: none
        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: $r_desk_1280) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $r_desk) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $r_tab) {
        gap: 10px;
    }
    
    &__item {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 2.7rem 3rem 3.8rem;
        box-sizing: border-box;
        @media (max-width: $r_desk_full_1750) {
            padding: 2rem 2rem; 
        }
        @media (max-width: $r_mob_500) {
            padding: 1.5rem 2rem; 
        }

        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }
    }

    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
        @media (max-width: $r_tab) {
            height: 150px;
        }
        @media (max-width: $r_mob_500) {
            height: 120px;
        }
        @media (max-width: $r_mob_400) {
            height: 80px;
        }
        @media (max-width: $r_mob_360) {
            height: 80px;
        }
    }

    &__image {
        width: 100%;
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-top: 1.7rem;
        margin-bottom: 0;
        @media (max-width: $r_desk_1280) {
            font-size: 2.4rem;
        }
        @media (max-width: $r_desk_1120) {
            font-size: 2.15rem;
        }
        @media (max-width: $r_tab_900) {
            text-align: center;
        }
        @media (max-width: $r_tab) {
            font-size: 2rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.75rem;
            margin-top: 0;
        }
    }

    &__description {
        font-size: 1.6rem;
        color: rgba($green, 0.7);
        margin-top: 1.8rem;
        margin-bottom: 0;
        min-height: 61px;
        max-width: 300px;
        line-height: 150%;
        @media (max-width: $r_desk_1280) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_tab_900) {
            text-align: center;
            margin: 0 auto;
            margin-top: 1rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.25rem;
            min-height: 50px;
        }
    }

    &__price {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        margin-top: 0;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_tab_900) {
            margin-bottom: 2rem;
            text-align: center;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    }
}

.delivery {
    padding-top: 0.4rem;
    padding-bottom: 13.7rem;
    @media (max-width: $r_tab) {
        padding-bottom: 10rem;
    }

    &-box {
        display: flex;
        gap: 12%;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.4rem;
        margin-left: 12.5rem;
        line-height: 150%;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            gap: 5%;
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            margin: 4rem auto 0;
            flex-direction: column;
            max-width: 500px;
        }

        &__text {
            flex-basis: 44%;
            @media (max-width: $r_desk_1120) {
                flex-basis: 47%;
            }
        }

        &__pay {
            flex-basis: 37%;
            @media (max-width: $r_desk_1120) {
                flex-basis: 47%;
            }
        }
    }

    &__description {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    &__link {
        text-decoration: none;
        color: $green;
        position: relative;
        transition: 0.3s;

        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #858881;
            display: block;
            position: absolute;
            left: 0;
            bottom: 3px;
        }

        &:hover {
            color: $orange;

            &::after {
                background-color: $orange;
            }
        }
    }

    &__price {
        color: $orange;
    }

    &__list {
        display: flex;
        gap: 3rem;
        list-style: none;
        margin-top: 4rem;
        margin-bottom: 0;
        padding-left: 0;
        @media (max-width: $r_tab) {
            justify-content: center;
        }
    }

    &__item {
        flex-basis: 230px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        opacity: 0.4;
        height: 32px;
        transform: scale(1);     
        transition: 0.3s;

        &__mc {
            background-image: url(../images/pay/mc.png);
            max-width: 53px;
        }

        &__visa{
            background-image: url(../images/pay/visa.png);
            max-width: 74px;
        }

        &__pp{
            background-image: url(../images/pay/pp.png);
            max-width: 87px;
        }

        &:hover {
            opacity: 1;
            transform: scale(1.05);     
        }
    }

}

.contact {
    padding-bottom: 16.1rem;
    @media (max-width: $r_tab) {
        padding-bottom: 8rem;
    }
    
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $r_desk_1280) {
            gap: 10%;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
            gap: 6rem;
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
        }

        &__text {
            max-width: 400px;
            flex-grow: 1;
            margin-top: 6.2rem;
            margin-left: 12.3rem;
            line-height: 175%;
            letter-spacing: 0.9px;
            @media (max-width: $r_desk_1280) {
                margin-left: 8rem;
            }
            @media (max-width: $r_desk_1120) {
                margin-left: 4rem;
            }
            @media (max-width: $r_tab) {
                max-width: 100%;
                margin-left: 0;
                margin-top: 4rem;
            }
        }

        &__form {
            flex-basis: 589px;
            @media (max-width: $r_desk_1350) {
                flex-basis: 530px;
            }
            @media (max-width: $r_desk_1280) {
                flex-basis: auto;
                flex-grow: 1;
            }
            @media (max-width: $r_tab) {
                flex-basis: 474px;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            font-size: 2.4rem;
            padding-left: 0;
            margin-top: 5.8rem;
            list-style: none;
            @media (max-width: $r_tab) {
                flex-direction: row;
                margin-top: 3rem;
            }
            @media (max-width: $r_mob_360) {
                margin-top: 2rem;
                font-size: 1.5rem;
            }
            @media (max-width: 330px) {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }
        }

        &__tel, &__mail {
            text-decoration: none;
            font-size: 2.4rem;
            font-weight: 500;
            color: $green;
            display: flex;
            align-items: center;
            gap: 3.4rem;
            letter-spacing: 0;
            @media (max-width: $r_tab) {
                font-size: 1.6rem;
                gap: 1rem;
            }
            @media (max-width: $r_mob_360) {
                font-size: 1.5rem;
                gap: 0.5rem;
            }

            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &:hover {
                color: $orange;
            }
        }
       
        &__tel {
            &::before {
                background-image: url(../images/phone.svg);
                background-size: 29px 30px;
                @media (max-width: $r_mob_500) {
                    background-size: 20px 20px;
                }
            }
            
        }
        
        &__mail {
            &::before {
                background-image: url(../images/mail.svg);
                @media (max-width: $r_mob_500) {
                    background-size: 20px 20px;
                }
            }
        }
    }
}

    

.card {
    border: 2px solid rgba($green, 0.4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    @media (max-width: $r_desk_1280) {
        padding: 2.5rem 3rem 3rem;    
    }
    @media (max-width: $r_desk) {
        padding: 2.5rem 2rem 3rem;    
    }

    &__title {
        font-size: 30px;
        font-family: $font-cormorant;
        margin-top: 0;
    }

    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: 0.6rem;
        @media (max-width: $r_tab) {
            text-align-last: left; 
        }
    }

    &__input {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        transition: 0.3s;

        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
            transition: 0.3s;
        }

        &:invalid {
            border: red;
        }
    }

    &__check {
        font-size: 1.2rem;
        color: rgba($green, 0.6);
        line-height: 150%;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
        @media (max-width: $r_tab) { 
            text-align: center;
        }
    }

    &__link {
        margin-top: 1.2rem;
        @media (max-width: $r_desk) {
            padding: 2.4rem 2.3rem;
        }
        @media (max-width: $r_tab) {
            margin-top: 1.2rem;
            margin: 0 auto;
        }
        @media (max-width: $r_mob_500) {
            padding: 1.8rem 2.3rem;
        }

    }

    &__docs {
        color: rgba($green, 0.6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
        transition: 0.3s;

        &:hover {
            color: rgba($green, 1);
        }
    }
}

footer {
    border-top: 1px solid #d4d6cf;
}

.footer {
    padding-top: 79px;
    padding-bottom: 30px;

    &__box {
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 79px;
        margin-bottom: 21px;
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) {
            gap: 9%;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
        }

        /*& .logo {
            width: 18.2rem;
            height: 4.8rem;
            margin-top: 7px;
            flex-basis: 22%;
        }*/
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-basis: 66.5%;
        @media (max-width: $r_desk_1280) {
            flex-basis: auto;
            flex-grow: 1;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
            margin: 0 auto;
        }
    }

    &__list {
        margin: 0;
        padding-left: 0;
        list-style: none;
        text-align: left;
        @media (max-width: $r_tab) {
            text-align: center;
            margin-bottom: 2rem;
        }

        &:first-child {
            @media (max-width: $r_tab) {
                display: flex;
                justify-content: center;
                gap: 3rem;
            }
        }
    }

    &__item {
        margin-bottom: 2.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__link {
        color: $green;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            color: $orange;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 220px;
        @media (max-width: $r_tab) {
            flex-basis: auto;
        }
    }

    &__tel {
        font-size: 2.6rem;
        color: $green;
        margin-bottom: 35px;
        text-decoration: none;
        transition: 0.3s;
        @media (max-width: $r_tab) {
            font-size: 3rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            font-size: 3rem;
        }

        &:hover {
            color: $orange;
        }
    }

    &__email {
        color: $green;
        margin-bottom: 13px;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            color: $orange;
        }
    }

    &-social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        list-style: none;
        @media (max-width: $r_tab) {
            padding-left: 0;
        }

        &__vk {
            display: flex;
            opacity: 0.8;
            transition: 0.3s;

            &::before {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../images/social/vk.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 25px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                opacity: 0.8;
                transition: 0.3s;
            }

            &:hover {
                opacity: 1;
                transition: 0.3s;

                &::before {
                    opacity: 1;
                }
            }
        }

        &__inst {
            display: flex;
            opacity: 0.8;
            transition: 0.3s;

            &::before {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../images/social/inst.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                transition: 0.3s;
            }

            &:hover {
                opacity: 1;
                transition: 0.3s;

                &::before {
                    opacity: 1;
                }
            }
        }

        &__fb {
            display: flex;
            opacity: 0.8;
            transition: 0.3s;

            &::before {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../images/social/fb.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                transition: 0.3s;
            }

            &:hover {
                opacity: 1;
                transition: 0.3s;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        @media (max-width: $r_tab) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__copy {
        opacity: 0.6;
    }

    &__author-text {
        opacity: 0.6;
    }

    &__author-link {
        color: $green;
        text-decoration: none;
        opacity: 0.6;
        transition: 0.3s;

        &:hover {
            opacity: 1;
        }
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, 0.5);
    }
    50% {
        box-shadow: 2rem 3rem 3.3rem 0 rgba(141 153 136 / 0.5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($green, 0.5);
    }
}